* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(47, 88%, 63%);
    padding: 5rem 1rem;
    height: 100vh;
}
.container {
    background-color: white;
    padding: 1rem;
    border: 1.5px solid black;
    border-radius: 1rem;
    box-shadow: 9px 9px 0px black;
    width:350px;
    overflow: hidden;
}
.card-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 1rem;
}
.card-content {
    padding: 8px;
}
.tag {
    background-color: gold;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-bottom: 8px;
}
.date {
    font-size: 14px;
    color: rgb(52, 51, 51);
    margin-bottom: 8px;
}
.title {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
}
.description {
    font-size: 16px;
    color: #555;
    margin-bottom: 8px;
}
.profile {
    display: flex;
    align-items: center;
    gap: 8px;
}
.profile img {
    object-fit: cover;
}
.profile p {
    font-size: 15px;
    font-weight: bold;
    color: black;
}